.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
  text-align: center;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 60%,
    var(--dark) 100%
  );
  background-size: cover;
  background-position: center;
}

.hero__content {
  z-index: 1;
  padding: 0 20px;
}

.hero__content h1 {
  font-size: 4rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hero__logo {
  width: 150px; /* Adjust size as needed */
  margin: 20px 0;
}

.hero__content h3 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  opacity: 0.9;
}

/* Optional Button Styling */
.btn__scroll {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 30px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  transition: 0.3s;

  font-size: 1.5rem;
}

.btn__scroll:hover {
  background: white;
  color: var(--orange);
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content h3 {
    font-size: 1.1rem;
  }
}
