.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: aliceblue;
  /* gap: 10rem; */
}
.about__description {
}
.about__heading {
  font-size: 7rem;
}
.about__headText {
  /* font-family: Sora; */
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: -2%;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;

  margin: 3rem;

  max-width: 70%;
}
.about__square {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 40rem;
  height: 28rem;

  border-radius: 16px;
  border: 1px solid #ccd2e980;

  padding: 3.2rem;

  transition: 0.4s;
}
.about__square:hover {
  background-color: white;
  box-shadow: 0.3rem 0.3rem 0.5rem lightgrey;
}
.about__square__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
}
.about__square__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
}
.about__contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  width: 84rem;
  height: 32rem;
  top: 2645px;
  left: 300px;
  border-radius: 24px;
  opacity: 1;

  margin: 3rem;
  background-color: #0059f7;
}
.about__contact h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
.about__contact h4 {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -3%;
  text-align: center;
  color: white;
}
.about__contact button {
  width: 17rem;
  height: 6.4rem;
  border-radius: 8px;
  opacity: 1;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  gap: 1rem;

  color: white;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  background-color: rgba(255, 255, 255, 0.4);
}
