.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--lightblue);

  padding: 5rem 0;
}
.about__description {
  text-transform: capitalize;
  text-align: center;
  margin: 5rem 0 10rem 0;
}
.about__heading {
  font-size: 7rem;
}
.about__headText {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: -2%;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;

  margin: 3rem;

  max-width: 90rem;
}
.about__square {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;

  width: 40rem;
  min-height: 28rem;

  border-radius: 16px;

  padding: 3.2rem;

  background-color: white;
  transition: 0.2s;
  cursor: default;
  box-shadow: 0 0 1rem var(--dark);
}

.about__icon {
  font-size: 4rem;
  max-width: 4rem;
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
}
.about__icon path {
  transition: 0.3s;
}

.about__square:hover {
  box-shadow: 0rem 0rem 0.2rem var(--orange);
}
.about__square:hover > .about__square__heading {
  color: var(--orange);
}
.about__square:hover > .about__icon path {
  fill: var(--orange);
}

.about__square__heading {
  text-transform: uppercase;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  transition: 0.2s;
}
.about__square__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
}
.about__contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  width: 84rem;
  height: 32rem;
  top: 2645px;
  left: 300px;
  border-radius: 24px;
  opacity: 1;

  margin: 3rem;
  background-color: var(--slate-blue);
}
.about__contact h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
.about__contact h4 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: -3%;
  text-align: center;
  color: white;
}
.about__contact button {
  width: 17rem;
  height: 6.4rem;
  border-radius: 8px;
  opacity: 1;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  gap: 1rem;

  color: white;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  background-color: rgba(255, 255, 255, 0.4);
}

.about__contact:hover > .about__contact button {
  color: var(--orange);
}

@media (max-width: 78rem) {
  .about {
    padding: 20rem 0 10rem 0;
  }
  .about__contact {
    width: 90%;
  }
  .about__contact h4 {
    font-size: 3rem;
  }
  .about__contact h5 {
    font-size: 1.7rem;
  }
}

@media (max-width: 41rem) {
  .about__heading {
    font-size: 4rem;
    font-weight: bold;
  }
  .about__square {
    width: 30rem;
  }
}
