.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: url("../../assets/images/backman.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about__overlay {
  padding: 5rem 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about__description {
  text-transform: capitalize;
  text-align: center;
  margin: 5rem 0 10rem 0;
}
.about__headText,
.about__heading {
  color: var(--text);
  font-weight: 700;
}

.about__heading {
  font-size: 7rem;
}
.about__headText {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: -2%;
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;

  margin: 3rem;

  max-width: 90rem;
}
.about__square {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;

  width: 40rem;
  min-height: 28rem;

  border-radius: 16px;

  padding: 3.2rem;

  background-color: var(--slate-blue);
  transition: 0.2s;
  cursor: default;
  box-shadow: 0 0 1rem var(--dark);

  color: var(--text);
}

.about__icon {
  font-size: 4rem;
  max-width: 4rem;
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
}
.about__icon path {
  fill: var(--text);
  transition: 0.3s;
}

.about__square:hover > .about__square__heading {
  color: var(--orange);
}
.about__square:hover > .about__icon path {
  fill: var(--orange);
}

.about__square__heading {
  text-transform: uppercase;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  transition: 0.2s;
}
.about__square__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
}
@media (max-width: 78rem) {
  .about {
    padding: 20rem 0 10rem 0;
  }
}

@media (max-width: 41rem) {
  .about__heading {
    font-size: 4rem;
    font-weight: bold;
  }
  .about__square {
    width: 30rem;
  }
}
