.clientsSection {
  margin: 5rem 0;
}
.clientsSection h2 {
  font-size: 5rem;
  color: var(--dark);
  font-weight: 650;
  text-align: center;
}
.carousel {
  margin: 10rem auto;
  width: 100rem;
  display: flex;
  overflow-x: auto;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: spin 13s infinite linear;
  padding-right: 1rem;
  border-top: 3px solid var(--orange);
  border-bottom: 3px solid var(--orange);
}
.carousel__card {
  height: 30rem;

  flex: 0 0 20rem;
  padding: 1rem;
  text-align: center;
  align-content: center;
  border-radius: 2rem;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
