.clientsSection {
  position: relative;
  padding: 10rem 0;
  background: url("../../assets/images/shaking_hands.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 70% 10%;
  z-index: 2;
}
.clientsSection__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.clientsSection h2 {
  z-index: 3;
  font-size: 5rem;
  color: var(--lightblue);
  font-weight: 650;
  text-align: center;
}
.clientsSection__swiper {
  background-color: white;
  margin: 7rem 0;
  padding: 3rem 0;
}
.clientsSection__swiperSlide {
  margin: auto auto;
}

.fiat {
  max-width: 12rem;
}
.goodyear {
  width: 18rem;
}

.actavis {
  max-width: 15rem;
}
.henkel {
  max-width: 17rem;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
