.reasons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10rem;

  height: 50vh;
  max-height: 50vh;
}
.reasons__heading {
  font-size: 7rem;
  text-transform: uppercase;
}
.reasons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  flex-direction: row;
}
.reason {
  text-align: center;
}
.reason__number {
  font-size: 5.5rem;
}
.reason__description {
  font-size: 1.5rem;
}
