/* General Styles */
.navbar {
  background-color: var(--dark); /* Dark background similar to the site */
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Brand/Logo */
.navbar__brand {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.logo {
  height: 40px;
  margin-right: 10px;
}
.logo__name {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.nav__links a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.7rem;
  transition: color 0.3s;
}

.nav__links a:hover {
  color: #fff;
}

.lang__switch {
  font-weight: bold;
  color: #fff !important;
}

.menu__toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  border: none;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav__links {
    display: none; /* Hide for mobile dropdown logic */
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #222;
    padding: 20px;
  }
}
