.modal__backdrop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 100;

  animation: fadeIn 0.3s ease-out forwards;
}
.modal__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 95%;
  background: white;
  padding: 0 2rem 2rem 2rem;
  border-radius: 8px;
  z-index: 100;
  animation: slideUp 0.4s ease-out forwards;
}
.close__btn {
  font-size: 4rem;
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(calc(-50% + 20px));
    opacity: 0;
  }
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
}
