.about__contact__wrapper {
  padding: 4rem 0;
  width: 100%;
  background-color: var(--dark);
  height: 100%;
}
.about__contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  width: 84rem;
  height: 32rem;
  top: 2645px;
  left: 300px;
  border-radius: 24px;
  opacity: 1;

  margin: 0 auto;
  background-color: var(--slate-blue);
}
.about__contact h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}
.about__contact h4 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: -3%;
  text-align: center;
  color: white;
}
.about__contact button {
  height: 6.4rem;
  border-radius: 8px;
  opacity: 1;

  gap: 1rem;

  color: white;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.2s;
}

.about__contact button:hover {
  transform: scale(1.1);
}
.about__contact a {
  padding: 2rem 2.4rem;
  height: 100%;
  width: 100%;
  color: var(--text);
  text-decoration: none;
}

@media (max-width: 78rem) {
  .about__contact {
    width: 90%;
  }
  .about__contact h4 {
    font-size: 3rem;
  }
  .about__contact h5 {
    font-size: 1.7rem;
  }
}
