:root {
  --orange: #f1603f;
  --dark: #121f2b;

  --lightblue: #f0f8ff;
  --slate-blue: #34495e;
  --accent: #ffc107;
  --text: #f8f9fa;
  --text-muted: #adb5bd;

  --swiper-navigation-color: var(--orange);
  --swiper-pagination-color: var(--orange);
  --swiper-pagination-bullet-inactive-color: var(--text-muted);
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* General CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: var(--dark); */
  overflow-wrap: break-word;
  text-wrap: balance;
}

html {
  scroll-behavior: smooth;
}
